<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Mi Portafolio</h5>
          <p>
            Gracias por visitar mi portafolio. Si tienes alguna pregunta o quieres trabajar conmigo, no dudes en ponerte en contacto.
          </p>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Enlaces</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#" class="text-dark">Inicio</a>
            </li>
            <li>
              <a href="#" class="text-dark">Sobre mí</a>
            </li>
            <li>
              <a href="#" class="text-dark">Proyectos</a>
            </li>
            <li>
              <a href="#" class="text-dark">Contacto</a>
            </li>
          </ul>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contacto</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="mailto:brunopruzsi@gmail.com" class="text-dark">brunopruzsi&#64;gmail.com</a>
            </li>
            <li>
              <a href="tel:+54 9 223 6198686" class="text-dark">+54 9 223 619 8686</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/bruno-pruzsiani-dev/" class="text-dark">LinkedIn</a>
            </li>
            <li>
              <a href="https://github.com/br1P" class="text-dark">GitHub</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Mi Portafolio
    </div>
  </footer>
  